.header {
  width: 100%;
  height: 6.5rem;
  background-color: #044599;
  padding: 0 10%;
}

.logo {
  color: white;
  font-weight: bold;
}

.header nav {
  color: white;
}

.header ul {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.header li {
  /* top | right | bottom | left */
  margin: 0.8rem 1rem 0 1rem;
  width: 10rem;
}

.header a {
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.header a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.header a:active,
.header a.active {
  color: #95bcf0;
  padding-bottom: 0.1rem;
  border-bottom: 2px solid #95bcf0;
}